/* HEADER */
.header {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header__image {
  max-width: 100%;
  height: auto;
}

.header__title {
  color: white;
}

/* CARD GRID */

